/* Custom navbar style */
.navbar-default .navbar-nav>li>a {
  cursor: pointer;
}

html {
 min-height: 100%;
 position: relative;
}

body {
     height: 100%;
     padding-bottom: 50px;
}

content .container{
  margin-top: 20px;
}

.rata-tengah {
  text-align: center;
  margin : 20px;
}

.judul {
  text-transform:uppercase;
  margin-bottom: 50px;
  margin-top: 50px;
}

footer p{
   text-align: center;
}
.footer {
 position: absolute;
 width: 100%;
 bottom: 0%;
 text-align: center;
}