/* Custom navbar style */
.navbar-static-top {
   margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}
html {
  min-height: 100%;
  position: relative;
}

body {
	margin-top: 70px;
  	height: 100%;
    padding-bottom: 50px;
    background-color: lightblue;
}

footer p{
	text-align: center;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0%;
  text-align: center;
}

.feed{
  background-color: whitesmoke;
  margin : 50px 100px 50px 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
	padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
    border: solid;
    border-radius: 5px;
}

textarea {
  width: 90%;
  height: 150px;
  margin-right: 20px;
  margin-left: 20px;
}

p:not(#footer){
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
}

.data h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
}

.login{
  display: block;
  margin: 0 auto;
  background-color: blue;
  color: white;
}

h1{
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}