/* Custom navbar style */
.navbar-static-top {
    margin-bottom: 19px;
 }
 .navbar-default .navbar-nav>li>a {
    cursor: pointer;
 }
 html {
   min-height: 100%;
   position: relative;
 }
 
 body {
     margin-top: 70px;
       height: 100%;
       padding-bottom: 50px;
 }
 
 
 footer p{
     text-align: center;
 }
 .footer {
   position: absolute;
   width: 100%;
   bottom: 0%;
   text-align: center;
 }